*/._*
.ipynb_checkpoints/
logs*/
scratch/
old/
checkpoints/*
historicallogs/
testout/
log_graph/*
save/
output/
data50/*/
data50/validation-*
data50/train-*
data2/validation-*
data2/train-*
*validation-*
*train-*
*.pyc
'#'*
.#*
#*
*~
._*
*.zip